<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.homechart.app">
    <!--android:sharedUserId="android.uid.system"-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 级验验证 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <!-- 友盟第三方 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 友盟统计 -->
    <uses-sdk android:minSdkVersion="8"></uses-sdk>
    <!-- ga -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Get permission for reliable local dispatching on non-Google Play devices. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".home.activity.AdvertisementActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.LoginActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.RegisterActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".home.activity.HomeActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".home.activity.UserMastActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.NewUserNameActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.ResetPasswordActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.FenSiListActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.GuanZuListActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.ShouCangListActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.ShaiJiaListActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.MessagesListActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.MyInfoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.SetActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".timepiker.citylist.CityListSelectActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.BundleMobileActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.DesinerInfoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.IssueBackActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.UserInfoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.GuanYuActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.DesinerInfoHeaderActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.SearchActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.SearchResultActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.ShaiXuanResultActicity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.FaBuActvity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.FaBuTagsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.ImageDetailActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.ImageEditActvity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.EditTagsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.ImageDetailLongActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.PingListActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.HuoDongDetailsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.ArticleDetailsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <!-- 友盟 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <!-- tencent -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101164104" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5625abfce0f55a5c17008ac9"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!-- Register AnalyticsReceiver and AnalyticsService to support background
         dispatching on non-Google Play devices. -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>